.modal-signin {
	position: fixed;
	top: 10%;
  left: 50%;

	display: none;
	width: 250px;
  margin-left: -125px;

	font-size: 0.875rem;
	line-height: 24px;

	background-color: $white;
	border-radius: 5px;
  
  @media (min-width: 400px) {

		width: 350px;
		margin-left: -175px;
	}

	@media (min-width: 500px) {
		top: 20%;

		width: 400px;
		margin-left: -200px;
	}

	&__button-close {
		position: absolute;
		top: -35px;
		right: -25px;
		z-index: 3;

		font-size: 2rem;
		color: $white;

		cursor: pointer;
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	z-index: 2;

	display: none;
	justify-content: center;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .4);
}

.modal-switch {
	display: flex;

	background-color: $white;

	&__login,
  &__signup {
  	display: block;
  	width: 50%;
  	height: 100%;
    padding: 20px 0;

		font-size: 1rem;
		font-weight: 700;
  	text-align: center;
  	color: lighten($black, 70%);

  	&:hover,
  	&:focus {
  		text-decoration: none;
  		color: lighten($black, 70%);
  	}  	
  }

  &__login.active-tab,
  &__signup.active-tab {
    color: $black;

		background-color: $gray;
		border-bottom: 2px solid $primary;
	}
}

.modal-login {
	padding: 20px 10px;

	&__btn-submit {
		width: 100%;
	}
}

.modal-group {
	display: flex;
	flex-direction: column;
	width: 100%;

	margin-bottom: 10px;
}

.modal-input {
  width: 100%;
	padding: 5px 12px;

	border: 1px solid rgba($black, .2);
	
	outline: none;

	&:focus {
		border-color: $primary;
	}
}

.modal-label {
	margin-bottom: .3rem;
}

.modal-signup {
	padding: 20px 10px;

	&__label-agreement {
		position: relative;
			
		margin-bottom: 0;
		padding-left: 22px;

		font-size: 0.75rem;
		line-height: 20px;

		cursor: pointer;
	}

	&__checkbox-agreement {
		position: absolute;
	}

	&__checkbox-agreement + &__label-agreement::before {
		content: '';

		position: absolute;
		top: 3px;
		left: 0;

		display: block;
		width: 15px;
		height: 15px;

		border: 1px solid rgba($black, .2);

		cursor: pointer;
	}

	&__checkbox-agreement:checked + &__label-agreement::after {
		content: '';

		position: absolute;
		top: 4px;
		left: 5px;

		display: block;
		width: 5px;
		height: 10px;

		border-right: 2px solid $primary;
		border-bottom: 2px solid $primary;

    transform: rotate(45deg);

		cursor: pointer;
	}

	&__btn-submit {
		width: 100%;
	}
}

.modal-show {
	display: block;
	
	@extend .fadeIn;
}


 
