.navbar {
  z-index: 1;

  background-color: $white;
	border-bottom: 1px solid rgba($black, .1);

  transition: all 0.2s;

  @media (min-width: 992px) {
		background-color: transparent;
		border-bottom: transparent;
	}

  .navbar-brand {
  	@include transition-all;

  	font-weight: 700;
  	color: lighten($black, 40%);
  }

	&.navbar-shrink {
		@media (min-width: 992px) { 
			background-color: $white;
			border-bottom: 1px solid rgba($black, .1);

			.navbar-brand {
				color: $primary;
			}

			.nav-item-signin > .dropdown-menu {
				background-color:  $white;
			}
		}
	}
}

.navbar-nav > .nav-item > .nav-link {
	@include transition-all;
	
	color: lighten($black, 20%);

	&:hover,
	&.active {
		color: $primary;
	}

	@media (min-width: 992px) {
		padding: 0 1rem;
	}
}

.nav-item-signin > .dropdown-menu {
	border: none;

	@media (min-width: 992px) {
		background-color: rgba($white, .4);
		border-bottom: transparent;
	}
}