@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff"); }

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400; }

body {
  font-family: "Open Sans", Arial, sans-serif; }

.py-section {
  padding: 8rem 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn, .modal-show {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

.btn {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.8rem 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 10px; }

.btn-primary {
  background-color: #28a745; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #ffffff;
    background-color: #23923d !important; }

.btn-form {
  margin-top: 10px;
  padding: 0.55rem 1rem;
  font-weight: 400;
  text-transform: none;
  background-color: #28a745; }
  .btn-form:hover, .btn-form:focus, .btn-form:active {
    color: #ffffff;
    background-color: #23923d !important; }

.navbar {
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  @media (min-width: 992px) {
    .navbar {
      background-color: transparent;
      border-bottom: transparent; } }
  .navbar .navbar-brand {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    color: #666666; }
  @media (min-width: 992px) {
    .navbar.navbar-shrink {
      background-color: #ffffff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .navbar.navbar-shrink .navbar-brand {
        color: #28a745; }
      .navbar.navbar-shrink .nav-item-signin > .dropdown-menu {
        background-color: #ffffff; } }

.navbar-nav > .nav-item > .nav-link {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #333333; }
  .navbar-nav > .nav-item > .nav-link:hover, .navbar-nav > .nav-item > .nav-link.active {
    color: #28a745; }
  @media (min-width: 992px) {
    .navbar-nav > .nav-item > .nav-link {
      padding: 0 1rem; } }

.nav-item-signin > .dropdown-menu {
  border: none; }
  @media (min-width: 992px) {
    .nav-item-signin > .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.4);
      border-bottom: transparent; } }

.header {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover; }
  @media (min-width: 992px) {
    .header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100vh;
      min-height: 650px; } }
  .header__title {
    font-size: 2rem; }
    .header__title::after {
      content: "";
      display: block;
      max-width: 50px;
      height: 3px;
      margin: 1.5rem auto;
      background-color: #28a745; }
    @media (min-width: 992px) {
      .header__title {
        font-size: 3.2rem; } }
    @media (min-width: 1200px) {
      .header__title {
        font-size: 3.5rem; } }
  .header__text {
    font-size: 1.2rem;
    color: #000000; }

.about__title::after {
  content: "";
  display: block;
  max-width: 50px;
  height: 3px;
  margin: 1.5rem auto;
  background-color: #28a745; }

.features {
  background-color: #fafafa; }
  .features__item .fas {
    color: #28a745; }
  .features__title::after {
    content: "";
    display: block;
    max-width: 50px;
    height: 3px;
    margin: 1.5rem auto;
    background-color: #28a745; }

.contact__title::after {
  content: "";
  display: block;
  max-width: 50px;
  height: 3px;
  margin: 1.5rem auto;
  background-color: #28a745; }

.contact__link {
  color: #28a745; }
  .contact__link:hover, .contact__link:focus, .contact__link:active {
    color: #28a745; }

.contact .far {
  color: #4d4d4d; }

.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #fafafa; }
  .footer__brand {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.25rem;
    font-weight: 700;
    color: #666666; }
    .footer__brand:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.9); }
  .footer .fab {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #4d4d4d; }
    .footer .fab:hover, .footer .fab:focus, .footer .fab:active {
      color: #28a745; }

.social {
  max-width: 180px; }

.modal-signin {
  position: fixed;
  top: 10%;
  left: 50%;
  display: none;
  width: 250px;
  margin-left: -125px;
  font-size: 0.875rem;
  line-height: 24px;
  background-color: #ffffff;
  border-radius: 5px; }
  @media (min-width: 400px) {
    .modal-signin {
      width: 350px;
      margin-left: -175px; } }
  @media (min-width: 500px) {
    .modal-signin {
      top: 20%;
      width: 400px;
      margin-left: -200px; } }
  .modal-signin__button-close {
    position: absolute;
    top: -35px;
    right: -25px;
    z-index: 3;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer; }

.modal-overlay {
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff; }
  .modal-switch__login, .modal-switch__signup {
    display: block;
    width: 50%;
    height: 100%;
    padding: 20px 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: #b3b3b3; }
    .modal-switch__login:hover, .modal-switch__login:focus, .modal-switch__signup:hover, .modal-switch__signup:focus {
      text-decoration: none;
      color: #b3b3b3; }
  .modal-switch__login.active-tab, .modal-switch__signup.active-tab {
    color: #000000;
    background-color: #fafafa;
    border-bottom: 2px solid #28a745; }

.modal-login {
  padding: 20px 10px; }
  .modal-login__btn-submit {
    width: 100%; }

.modal-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px; }

.modal-input {
  width: 100%;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none; }
  .modal-input:focus {
    border-color: #28a745; }

.modal-label {
  margin-bottom: .3rem; }

.modal-signup {
  padding: 20px 10px; }
  .modal-signup__label-agreement {
    position: relative;
    margin-bottom: 0;
    padding-left: 22px;
    font-size: 0.75rem;
    line-height: 20px;
    cursor: pointer; }
  .modal-signup__checkbox-agreement {
    position: absolute; }
  .modal-signup__checkbox-agreement + .modal-signup__label-agreement::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .modal-signup__checkbox-agreement:checked + .modal-signup__label-agreement::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 5px;
    display: block;
    width: 5px;
    height: 10px;
    border-right: 2px solid #28a745;
    border-bottom: 2px solid #28a745;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer; }
  .modal-signup__btn-submit {
    width: 100%; }

.modal-show {
  display: block; }

.error {
  font-size: .72rem;
  line-height: 18px;
  color: #dc3545; }
